<% stylesheet 'test.css' %>

<!-- <ul id="menu">
    <li>
		<a href="">Projects</a>
        <ul class="sub-menu">
            <li>
                <%= link_to 'Actions', {:controller => 'actions', :action => 'index'} %>
            </li>
            <li>
				<%= link_to 'Culture', {:controller => 'culture', :action => 'index'} %>
            </li>
            <li>
				<%= link_to 'Language', {:controller => 'labs', :action => 'language'} %>
            </li>
            <li>
				<a href="">Music</a>
            </li>						
        </ul>
    </li>
	<li>
    	<%= link_to 'Labs', {:controller => 'labs', :action => 'index'} %>
	</li>
	<li>
    	<%= link_to 'Vox', {:controller => 'vox', :action => 'overview'} %>
	</li>								
	<li>
    	<%= link_to 'About', {:controller => 'home', :action => 'me'} %>
	</li>								
</ul> -->

	
<div id="help">?</div>