<p>Adding translation of unknown words into subtitles.</p>
<p>[ ..here is an example(пример) with some text.. ]</p>

	<table border="0">
	<tr>
	<td>Select text file (.srt or etc): </td>
	<td>
		<div style="border:1px solid #CECECE">
			<%= form_tag({:action => :upload}, :multipart => true, remote: true) do %>
			<%= file_field 'upload', 'datafile' %>			
			<%= submit_tag 'Upload' %>
			<% end %>
		</div>
	</td>	
	<td> and <a href='#' onclick='checkFile()'>[show words]</a>.</td></td>
	</tr>	
	</table>

<div id="overlay">
	<div id="popup">
		
		<b>words:</b> 49 (1300) / <b>known:</b> 67% (0, 30) / <b>cover:</b> 81% (1031)
		<div id="words_table">
		<table id ="words">
		  <!-- <tr>
		    <th>word</th>
		    <th>count</th>
			<th>translation</th>
		  </tr>		 -->
		<% @words.each do |word| %>
		  <tr>
		    <td><%= word[0] %></td>
		    <td><%= word[1] %></td>
			<td><a href='#' onclick='getTranslation(this)'>translate</a></td>
		  </tr>
		<% end %>
		</table>
		</div>	
		<!-- <div id="known_table">
		<table id="known">
		  <tr>
		    <th>known</th>
		    <th>count</th>
		    <th>back</th>
		  </tr>		
		</table>
		</div>	 -->
		<div id="save" class="square"><%= link_to '[get sub]', {:action => :save, remote: true} %></div>
		<div id="close" class="square"><a href='#' onclick='closePopup()'>[x]</a></div>		
	</div>
</div>