<p><a href="http://caniuse.com/stream">Can I use</a> getUserMedia/Stream API?</p>
<p>Still requires chrome users to activate Media Source in <i>chrome://flags/:</i></p>

<p><a href="#" onclick='foo()'>Run face detect</a></p>

<div class="wrapper">
	<canvas width="200" height="160" class="scale" style="border: 1px solid #CECECE"></canvas>
</div>

<%= stylesheet_link_tag "box.css" %>
<%= javascript_include_tag "labs/ccv.js" %>
<%= javascript_include_tag "labs/face.js" %>
<%= javascript_include_tag "labs/experiment.js" %>
<%= javascript_include_tag "labs/scene.js" %>
<%= javascript_include_tag "labs/scene.js" %>