<% javascript 'language.js' %>
<% stylesheet 'language.css' %>

<div id="menu2" align="center">
<p>
<%= link_to 'rendering', {:controller => 'labs', :action => 'index'} %>
language
</p>
</div>

<div id="help">
Analysis of the text data for improved delivery of necessary materials (project culture). Alpha.
</div>

<div>
	<table border="0">
	<tr>
	<td>Select text file (.txt or etc): </td>
	<td>
		<div style="border:1px solid #9b9b9b; box-shadow:inset 0px 0px 2px #9b9b9b;">
			<%= form_tag({:action => :upload}, :multipart => true, remote: true) do %>
			<%= file_field 'upload', 'datafile' %>			
			<%= submit_tag 'Upload' %>
			<% end %>
		</div>
	</td>
	<td> and <a href='#' onclick='checkFile()'>click</a>.</td>	
	</tr>
	</table>

<p>Or say something: <input id="speechInput" type="text" style="font-size:15px;" x-webkit-speech onwebkitspeechchange="checkAudio()"></p>

<div id="overlay">
	<div id="popup">
		
		<b>words:</b> <span id="count">00</span> (0000) / <b>known:</b> 00% (00, 00) / <b>cover:</b> 00% (0000)
		<div id="words_table">
		<table id ="words">
		  <!-- <tr>
		    <th>word</th>
		    <th>count</th>
			<th>translation</th>
		  </tr>		 -->
		<% @words.each do |word| %>
		  <tr>
		    <td><%= word[0] %></td>
		    <td><%= word[1] %></td>
			<!-- <td><a href='#' onclick='getTranslation(this)'>translate</a></td> -->
		  </tr>
		<% end %>
		</table>
		</div>	
		<!-- <div id="known_table">
		<table id="known">
		  <tr>
		    <th>known</th>
		    <th>count</th>
		    <th>back</th>
		  </tr>		
		</table>
		</div>	 -->
		<!-- <div id="save" class="square"><%= link_to '[get sub]', {:action => :save, remote: true} %></div> -->
		<div id="close" class="square"><a href='#' onclick='closePopup()'>x</a></div>		
	</div>
</div>

</div>